.vs/
**/out/
**/Debug/
cmake_attempts/
.vscode/
*.exe

!glew32.lib
external_libs/**/Win32
external_libs/**/doc/*
external_libs/**/docs/*
external_libs/**/*201*/
external_libs/**/*201*/
external_libs/glfw-3.3.9.bin.WIN64/lib-mingw-w64/
external_libs/glfw-3.3.9.bin.WIN64/lib-static-ucrt/

**/*vcxproj*
!mandelbrot-explorer.vcxproj